<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background-image: url('{{ site.baseurl }}/img/sections-background/{{ site.heroImage }}');">
    {% include navigation.html %}
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            {% assign heroText = site.heroTitle | split:"<typeout>" %}
            <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ heroText[1] }}</h1>
            {% if site.preparingNextEvent %}
              <p>{{ site.comingSoonText }}</p>
              <a href="{{ site.becomeSpeaker }}" class="btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Quero palestrar!</a>
            {% else %}
              {% if site.eventDate %}
                <p>{{ site.eventDate }}</p>
              {% else %}
                <p>
                  {% assign m = site.data.location.eventStartTime | date: "%-m" %}
                  {{ site.data.location.eventStartTime | date: "%-d" }}
                  de
                  {% case m %}
                    {% when '1' %}Janeiro,
                    {% when '2' %}Fevereiro,
                    {% when '3' %}Março,
                    {% when '4' %}Abril,
                    {% when '5' %}Maio,
                    {% when '6' %}Junho,
                    {% when '7' %}Julho,
                    {% when '8' %}Agosto,
                    {% when '9' %}Setembro,
                    {% when '10' %}Outubro,
                    {% when '11' %}Novembro,
                    {% when '12' %}Dezembro,
                  {% endcase %}
                  {{ site.data.location.eventStartTime | date: "%-Y" }}, {{ site.data.location.eventLocationName }}, {{ site.data.location.eventAddressLocality }}
                </p>
              {% endif %}
              <div id="sympla-widget-267927" class="center-block" height="auto"></div>
              <script src="https://www.sympla.com.br/js/sympla.widget-pt.js/267927"></script>
            {% endif %}
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>
<!-- End Hero Section -->
